{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}">
</head>
<body>
    <div id = "content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Moj blog</h2>
        <p>
            {% if total_posts >= 10 %}
                Opublikowałem już {% total_posts %} postow.
            {% else %}
                Opublikowałem już {% total_posts %} posty.
            {% endif %}
        </p>
        <h3>Najnowsze posty</h3>
        {% show_latest_posts 3 %}
        <h3>Najczesciej komentowany posty</h3>
        {% show_most_commented_posts 3 %}
        <h3>Najczęściej wyświetlany post</h3>
        <ul>
            {% get_most_viewed_post as most_viewed_post %}
            {% if most_viewed_post %}
                <li><a href="{{ most_viewed_post.get_absolute_url }}">{{ most_viewed_post.title }}</a></li>
                <p>Liczba wyświetleń: {{ most_viewed_post.views }}</p>
            {% else %}
                <p>Brak postów do wyświetlenia.</p>
            {% endif %}
        </ul>
    </div>
</body> 
</html>